# Modified for AnsiMail (OpenBSD 6.6)

# options for smtpd
queue compression

queue encryption a272335c9ee548b50c81f533356349be

queue ttl 4d

smtp max-message-size 35M

# actual mail handling
pki {{ hostname }} cert  "/etc/ansimail/ssl/{{ hostname }}.fullchain.pem" 
pki {{ hostname }} key   "/etc/ansimail/ssl/private/{{ hostname }}.key"

# junk those sending from dynamic ip regex matches
filter check_dyndns phase connect match rdns regex { '.*\.dyn\..*', '.*\.dsl\..*' } junk

# junk those who don't have forward or reverse dns
filter check_rdns phase connect match !rdns junk
filter check_fcrdns phase connect match !fcrdns junk

# junk and slow those below a sender score of 70
filter senderscore proc-exec "filter-senderscore -junkBelow 70 -slowFactor 100"

# also use the rspamd filter
filter rspamd proc-exec "filter-rspamd"

# these are virtual names set up for forwarding
table aliases file:/etc/mail/aliases

# this checks for spam vs ham on smtp port
listen on all tls pki {{ hostname }}  \
    filter { check_dyndns, check_rdns, check_fcrdns, senderscore, rspamd }

# this signs the outgoing emails using the rspamd dkim_signing module
listen on all port submission tls-require pki {{ hostname }} auth filter rspamd

action "local_mail" maildir junk alias <aliases>
#action "local_mail" mda "/usr/local/bin/maildrop -f -" alias <aliases>
action "outbound" relay helo {{ hostname }}

match from any for domain "{{ domain }}" action "local_mail"
match for local action "local_mail"

match from any auth for any action "outbound"
match for any action "outbound"

