# Important pseudo accounts
root@{{ domain }}			{{ admin }}@{{ domain }}
postmaster@{{ domain }}			{{ admin }}@{{ domain }}

# RFC 2142: NETWORK OPERATIONS MAILBOX NAMES
abuse@{{ domain }}			{{ admin }}@{{ domain }}
noc@{{ domain }}			{{ admin }}@{{ domain }}
security@{{ domain }}			{{ admin }}@{{ domain }}

# RFC 2142: SUPPORT MAILBOX NAMES FOR SPECIFIC INTERNET SERVICES
hostmaster@{{ domain }}			{{ admin }}@{{ domain }}
usenet@{{ domain }}			{{ admin }}@{{ domain }}
news@{{ domain }}			{{ admin }}@{{ domain }}
webmaster@{{ domain }}			{{ admin }}@{{ domain }}
ftp@{{ domain }}			{{ admin }}@{{ domain }}

# Domain reports from outside world
dmarcreports@{{ domain }}		{{ admin }}@{{ domain }}
tlsreports@{{ domain }}			{{ admin }}@{{ domain }}

# AnsiMail specific account for users to seek support
ansimail@{{ domain }}			{{ admin }}@{{ domain }}

# OpenPGP Web Key Service (WKS) Submission Address
# It should actually receive emails
# (this will be added by add-user)
#wks@{{ domain }}			ansimail


# Admin account receives mails
# (this will be added by add-user)
#{{ admin }}@{{ domain }}		ansimail

