# {{ ansible_managed }}
*.notice;auth,authpriv,cron,ftp,kern,lpr,mail,user.none	/var/log/messages
kern.debug;syslog,user.info				/var/log/messages
auth.info						/var/log/authlog
authpriv.debug						/var/log/secure
cron.info						/var/cron/log
daemon.info						/var/log/daemon
ftp.info						/var/log/xferlog
lpr.debug						/var/log/lpd-errs
mail.info						/var/log/maillog

{% for logfile in syslog_logfiles %}
{% if logfile.program is defined %}
!{{ logfile.program }}
*.*							{{ logfile.file }}
{% endif %}
{% endfor %}
