# Web Key Service Server Tool
require ["envelope", "vnd.dovecot.pipe"];

# we need to make all key submission requests
# ( that are mode to wks@{{ domain }} )
# go through the parsing script
if envelope :all :contains ["To"] "wks@{{ domain }}" {
  # wks@{{ domain }} should not be the sender (self emails are not done)
  # X-WKS-Loop should not be present
  if allof (NOT envelope :all :contains "From" "wks@{{ domain }}",
            NOT header :is ["X-WKS-Loop"] ["wks.{{ domain }}"]) {
    pipe "wks-server" [ "wks@{{ domain }}" ];
  }
  # keep filing the email (now that it has been processed)
  # We don't discard it, because we want to keep all requests
  # on file (just in case)
}
