---
- name: install davical packages
  openbsd_pkg:
    name: davical
    state: present

- name: create davical_dba user
  postgresql_user:
    name: davical_dba
    password: "{{ davical_dba_password }}"

- name: create davical_app user
  postgresql_user:
    name: davical_app
    password: "{{ davical_app_password }}"

- name: create initial db for davical_dba
  postgresql_db:
     name: davical
     owner: davical_dba
     encoding: UTF-8
     template: template0

- name: run initial scripts for davical database
  postgresql_query:
    db: davical
    path_to_script: "/var/www/{{ item.name }}"
    login_user: davical_dba
    login_password: "{{ davical_dba_password }}"
  with_items:
    - name: "awl/dba/awl-tables.sql"
    - name: "awl/dba/schema-management.sql"
    - name: "davical/dba/davical.sql"
  ignore_errors: true

- name: run admin script for davical database
  command: /var/www/davical/dba/update-davical-database --dbname davical --appuser davical_app --nopatch --owner davical_dba --dbpass "{{ davical_dba_password }}"

- name: insert basic roles into davical database
  postgresql_query:
    db: davical
    login_user: davical_dba
    login_password: "{{ davical_dba_password }}"
    path_to_script: /var/www/davical/dba/base-data.sql
  ignore_errors: true

- name: set password for admin user in davical database
  postgresql_query:
    db: davical
    login_user: davical_dba
    login_password: "{{ davical_dba_password }}"
    query: "UPDATE usr SET password = '**{{ davical_tmp_admin_password }}' WHERE user_no = 1;"

- name: create folder for configs
  file:
    path: /var/www/etc/davical
    state: directory
    mode: '0755'

- name: generate config file for all domains
  template:
    src: config.php.j2
    dest: "/var/www/etc/davical/dav.{{ item.name }}-conf.php"
  with_items: "{{ domains }}"

- meta: flush_handlers
