server {
    listen	{{ extras_port }};
    listen	[::]:{{ extras_port }};

    server_name dav.{{ item.name }};

    root /davical/htdocs;

    location ~ ^/.well-known/caldav(.*)$ {
        return 301 https://dav.{{ item.name }}/caldav.php$1;
    }
    location ~ ^/.well-known/carddav(.*)$ {
        return 301 https://dav.{{ item.name }}/caldav.php$1;
    }

    location /images/ {
    }

    location ~ ^(.*\.php)(.*)$ {
        include fastcgi_params;
        fastcgi_pass unix:run/php-fpm.sock;
        fastcgi_split_path_info ^(.*\.php)(.*)$;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
    }
}
