authority letsencrypt {
	api url "https://acme-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-privkey.pem"
}

authority letsencrypt-staging {
	api url "https://acme-staging-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-staging-privkey.pem"
}

domain {{ hostname }} {
	alternative names { \
{% for sdomain in subdomains %}
{% for domain in domains %}
		"{{ sdomain }}.{{ domain.name }}" \
{% endfor %}
{% endfor %}
	}
	domain key "/etc/excision/ssl/private/{{ domains[0].name }}.key"
	domain full chain certificate "/etc/excision/ssl/{{ domains[0].name }}.crt"
	sign with letsencrypt
}

