authority letsencrypt {
	api url "https://acme-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-privkey.pem"
}

authority letsencrypt-staging {
	api url "https://acme-staging-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-staging-privkey.pem"
}

domain {{ hostname }}.{{ domain }} {
	alternative names { \
{% for sdomain in subdomains %}
		"{{ sdomain }}.{{ domain }}" \
{% endfor %}
{%if additional_domains is defined %}
{% for adomain in additional_domains %}
{% for sdomain in subdomains %}
		"{{ sdomain }}.{{ adomain.name }}" \
{% endfor %}
{% endfor %}
{% endif %}
	}
	domain key "/etc/excision/ssl/private/{{ domain }}.key"
	domain full chain certificate "/etc/excision/ssl/{{ domain }}.crt"
	sign with letsencrypt
}

