# {{ ansible_managed }}
authority letsencrypt {
	api url "https://acme-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-privkey.pem"
}

authority letsencrypt-staging {
	api url "https://acme-staging-v02.api.letsencrypt.org/directory"
	account key "/etc/acme/letsencrypt-staging-privkey.pem"
}

authority buypass {
	api url "https://api.buypass.com/acme/directory"
	account key "/etc/acme/buypass-privkey.pem"
	contact "mailto:me@example.com"
}

authority buypass-test {
	api url "https://api.test4.buypass.no/acme/directory"
	account key "/etc/acme/buypass-test-privkey.pem"
	contact "mailto:me@example.com"
}

{% for domain in domains %}
domain {{ mail_subdomain }}.{{ domain.name }} {
	alternative names { \
{% for sdomain in agg_subdomains %}
		"{{ sdomain }}.{{ domain.name }}" \
{% endfor %}
	}
	domain key "/etc/excision/ssl/private/{{ domain.name }}.key"
	domain full chain certificate "/etc/excision/ssl/{{ domain.name }}.crt"
	sign with letsencrypt
}

{% endfor %}
