<?xml version="1.0" encoding="utf-8" ?>
<Autodiscover xmlns="http://schemas.microsoft.com/exchange/autodiscover/responseschema/2006">
	<Response xmlns="http://schemas.microsoft.com/exchange/autodiscover/outlook/responseschema/2006a">
		<User>
			<DisplayName>AnsiMail</DisplayName>
		</User>
		<Account>
			<AccountType>email</AccountType>
			<Action>settings</Action>
			<ServiceHome>https://autodiscover.{{ domain }}</ServiceHome>
			<Protocol>
				<Type>IMAP</Type>
				<Server>imap.{{ domain }}</Server>
				<Port>993</Port>
				<LoginName></LoginName>
			</Protocol>
			<Protocol>
				<Type>POP3</Type>
				<Server>pop3.{{ domain }}</Server>
				<Port>995</Port>
				<LoginName></LoginName>
			</Protocol>
			<Protocol>
				<Type>SMTP</Type>
				<Server>smtp.{{ domain }}</Server>
				<Port>465</Port>
				<LoginName></LoginName>
			</Protocol>
		</Account>
	</Response>
</Autodiscover>
