<?xml version="1.0" encoding="UTF-8"?>
<clientConfig version="1.1">
	<emailProvider id="{{ item.name }}">
		<domain>{{ item.name }}</domain>
		<displayName>AnsiMail - {{ item.name }}</displayName>
		<displayShortName>AnsiMail</displayShortName>
		<incomingServer type="imap">
			<hostname>imap.{{ item.name }}</hostname>
			<port>993</port>
			<socketType>SSL</socketType>
			<authentication>password-cleartext</authentication>
			<username>%EMAILADDRESS%</username>
		</incomingServer>
		<incomingServer type="pop3">
			<hostname>pop3.{{ item.name }}</hostname>
			<port>995</port>
			<socketType>SSL</socketType>
			<authentication>password-cleartext</authentication>
			<username>%EMAILADDRESS%</username>
		</incomingServer>
		<outgoingServer type="smtp">
			<hostname>smtp.{{ item.name }}</hostname>
			<port>465</port>
			<socketType>SSL</socketType>
			<authentication>password-cleartext</authentication>
			<username>%EMAILADDRESS%</username>
		</outgoingServer>
		<outgoingServer type="smtp">
			<hostname>smtp.{{ item.name }}</hostname>
			<port>587</port>
			<socketType>STARTTLS</socketType>
			<authentication>password-cleartext</authentication>
			<username>%EMAILADDRESS%</username>
		</outgoingServer>
		<documentation url="http://autoconfig.{{ item.name }}">
			<descr lang="en">Mail settings and client configuration</descr>
		</documentation>
	</emailProvider>
</clientConfig>
