server:
    rundir: "/var/run/knot"
    user: _knot:_knot
    listen: [ 0.0.0.0, :: ]

log:
  - target: syslog
    any: info

database:
    storage: "/var/db/knot"

mod-queryacl:
  - id: default_deny
    address: [ 127.0.0.1, ::1 ]

remote:
{% for ip in secondary_nameservers %}
  - id: secondary_{{ loop.index }}
    address: {{ ip }}

{% endfor %}

{% if knot_key_count|int > 0 %}
key:
{% for kip in knot_allow_updates %}
{% if kip.key is defined %}
  - id: key_{{ loop.index }}
    algorithm: {{ kip.key.algorithm | default('hmac-sha256') }}
    secret: {{ kip.key.secret }}

{% endif %}
{% endfor %}
{% endif %}

acl:
{% if secondary_nameservers|length > 0 %}
  - id: secondary_transfer
    address: [ {{ secondary_nameservers | join(', ') }} ]
    action: transfer

{% endif %}
  - id: self_update
    address: [ 127.0.0.1, ::1 ]
    action: update

{% for kip in knot_allow_updates %}
  - id: allow_{{ loop.index }}
    address: [ {{ kip.ips | join(', ') }} ]
    action: update
{% if kip.key is defined %}
    key: key_{{ loop.index }}
{% endif %}

{% endfor %}
  - id: deny_others
    address: [ 0.0.0.0/0, ::/0 ]
    action: [ transfer ]
    deny: on

template:
  - id: default
    storage: "/var/db/knot"
    file: "%s.zone"
    global-module: mod-queryacl/default_deny
    dnssec-signing: on
    acl: [ {% if secondary_nameservers|length > 0 %}secondary_transfer, {% endif %}self_update, deny_others ]
    zonefile-sync: -1
    zonefile-load: {{ knot_zonefile_load }}
    journal-max-depth: 20
    journal-content: all
{% if secondary_nameservers|length > 0 %}
    notify: [ {% for ip in secondary_nameservers %}{% if loop.index != 1 %}, {% endif %}secondary_{{ loop.index }}{% endfor %} ]
{% endif %}

zone:
{% for domain in domains %}
  - domain: {{ domain.name }}

{% endfor %}
