server:
    rundir: "/var/run/knot"
    user: _knot:_knot
    listen: [ {% if ipv4 is defined %}{{ ipv4 }}@53{% endif %}{% if ipv4 is defined and ipv6 is defined %}, {% endif %}{% if ipv6 is defined %}{{ ipv6 }}@53{% endif %} ]

log:
  - target: syslog
    any: info

database:
    storage: "/var/db/knot"

mod-queryacl:
  - id: default_deny
    address: [ {% if ipv4 is defined %}{{ ipv4 }}@53{% endif %}{% if ipv4 is defined and ipv6 is defined %}, {% endif %}{% if ipv6 is defined %}{{ ipv6 }}@53{% endif %} ]

remote:
{% for ns in secondary_nameservers %}
  - id: secondary_{{ loop.index }}
    address: {% if ns.ipv4 is defined %}{{ ns.ipv4 }}{% elif ns.ipv6 is defined %}{{ ns.ipv6 }}{% endif %}

{% endfor %}

acl:
  - id: secondary_transfer
    address: [ {% for ns in secondary_nameservers %}{% if loop.index > 1 %}, {% endif %}{% if ns.ipv4 is defined %}{{ ns.ipv4 }}{% elif ns.ipv6 is defined %}{{ ns.ipv6 }}{% endif %}{% endfor %} ]
    action: transfer

- id: self_update
    address: [ {% if ipv4 is defined %}{{ ipv4 }}{% endif %}{% if ipv4 is defined and ipv6 is defined %}, {% endif %}{% if ipv6 is defined %}{{ ipv6 }}{% endif %} ]
    action: update

  - id: others
    address: [ 0.0.0.0/0, ::/0 ]
    action: [ transfer ]
    deny: on

template:
  - id: default
    storage: "/var/db/knot"
    file: "%s.zone"

zone:
{% for domain in domains %}
  - domain: {{ domain.name }}
    notify: [ {% for ns in secondary_nameservers %}{% if loop.index > 1 %}, {% endif %}secondary_{{ loop.index }}{% endfor %} ]
    dnssec-signing: on
    module: mod-queryacl/default_deny
    acl: [ secondary_transfer, self_update ]
    zonefile-sync: -1
    zonefile-load: difference-no-serial
    journal-max-depth: 20
    journal-content: all

{% endfor %}
