extras_interface="{{ extras_interface }}"
extras_port="{{ extras_port }}"

server "webmail.{{ domains[0].name }}" {
{% for domain in domains[1:] %}
	alias "webmail.{{ domain.name }}"
{% endfor %}

	listen on $extras_interface port $extras_port

	tcp nodelay

	log { access "access.log", error "error.log" }

	# rest of the files are queried in their respective folders
	root "/roundcubemail"

	directory index index.php

	location ".htaccess*"             { block }
	location "/CHANGELOG"             { block }
	location "/INSTALL"               { block }
	location "/LICENSE"               { block }
	location "/README.md"             { block }
	location "/SQL*"                  { block }
	location "/UPGRADING"             { block }
	location "/bin*"                  { block }
	location "/composer**"            { block }
	location "/config*"               { block }
	location "/db*"                   { block }
	location "/installer*"            { block }
	location "/logs*"                 { block }
	location "/plugin*"               { block }
	location "/program*"              { block }
	location "/temp*"                 { block }

	location "*.php" {
		fastcgi socket "/run/php-fpm.sock"
	}
}

server "dav.{{ domains[0].name }}"{
{% for domain in domains[1:] %}
	alias "dav.{{ domain.name }}"
{% endfor %}

	listen on $extras_interface port $extras_port

	tcp nodelay

	log { access "access.log", error "error.log" }

	root "/davical/htdocs"

	location "/" { directory index index.php }

	location "/*.php*" {
		fastcgi socket "/run/php-fpm.sock"
	}
}
