# CREDIT: vedetta-com/caesonia
# https://github.com/vedetta-com/caesonia

types {
	include "/usr/share/misc/mime.types"
}

http_port="{{ http_port }}"
https_port="{{ https_port }}"

server "default" {
{% for sdomain in subdomains %}
{% for domain in domains %}
	alias "{{ sdomain }}.{{ domain.name }}"
{% endfor %}
{% endfor %}

	listen on * port $http_port

	tcp nodelay

	log { access "access.log", error "error.log" }

	location "/.well-known/acme-challenge/*" {
		root "/acme"
		request strip 2
	}

	location "/*" {
		block return 302 "https://$HTTP_HOST$REQUEST_URI"
	}
}
{% for domain in domains %}

server "nonexistent.{{ domain.name }}" {
{% for rdomain in required_subdomains %}
	alias "{{ rdomain }}.{{ domain.name }}"
{% endfor %}

	listen on * port $https_port

	tcp nodelay

	log { access "access.log", error "error.log" }

	# SMTP MTA Strict Transport Security
	location "/.well-known/mta-sts.txt" {
		root "/mta-sts"
		request strip 1
	}

	# OpenPGP Web Key Directory
	location "/.well-known/openpgpkey/{{ domain.name }}/*" {
		root "/openpgpkey/{{ domain.name }}"
		request strip 3
	}

	# Autodiscover file for Microsoft 
	location "/Autodiscover/*" {
		root "/Autodiscover/{{ domain.name }}"
		request strip 1
	}

	# OpenPGP Web Key Directory
	location "/mail/*" {
		root "/mail/{{ domain.name }}"
		request strip 1
	}

	# rest of the files are queried in their respective folders
	location "/*" {
		root "/htdocs/{{ domain.name }}"
	}
}
{% endfor %}

include "/etc/httpd-extras.conf"
