$TTL	10800		; 3h ; used for all entries without ttl values, hence it can be overloaded by individual entries
			; We should keep this at a reasonable number so as to not get too many requests 
			; but also small enough that if something changes it gets transferred fast enough through the network
$ORIGIN	{{ item.name }}.

@	1d	SOA	ns1.{{ item.name }}.	root.{{ item.name }}. (
	EXCISIONSERIAL		; serial
	3h			; refresh
	3m			; retry
	1w			; expire
	1d			; minimum
)

;; ttl has been removed from all records in favor of the default ttl
;; defined above, this makes the config a lot more understandable

;; for record types definitions some nice links are
;;   https://en.wikipedia.org/wiki/List_of_DNS_record_types (not that nice actually)
;;   

; CAA
; this ensures that only certificates issues by letsencrypt should be trusted for this domain
; don't trust cloudflare
@	IN	CAA	0	issue		"letsencrypt.org"
@	IN	CAA	0	issuewild	"letsencrypt.org"

; we set the acceptable nameservers for this domain
; don't trust cloudflare
{% if (public_nameservers is defined) and (public_nameservers|length > 0) %}
{% for ps in public_nameservers %}
@	IN	NS	ns{{ loop.index }}.{{ item.name }}.
{% if ps.ipv4 is defined %}
ns{{ loop.index }}	IN	A	{{ ps.ipv4 }}
{% endif %}
{% if ps.ipv6 is defined %}
ns{{ loop.index }}	IN	AAAA	{{ ps.ipv6 }}
{% endif %}
{% endfor %}
{% endif %}

; these are the domain names that will be accepted on this server
{% if ipv4 is defined %}
{{ hostname }}	IN	A	{{ ipv4 }}

{% endif %}

{% if ipv6 is defined %}
{{ hostname }}	IN	AAAA	{{ ipv6 }}
{% endif %}

; currently we don't have a backup MX server
; TODO: set up configuration to allow backup mail server
@	IN	MX	0	{{ hostname }}.{{ domain }}.

; autoconfig is used by mail clients to automatically set up
; the IMAP/SMTP configurations; specifically mozilla
autoconfig	IN	CNAME	{{ hostname }}.{{ domain }}.
; autodiscover is used by mail clients based on outlook
; damn you microsoft; why not just use autoconfig
autodiscover	IN	CNAME	{{ hostname }}.{{ domain }}.
; also set up other well known CNAME records in case of 
; older non compliant clients
imap	IN	CNAME	{{ hostname }}.{{ domain }}.
pop3	IN	CNAME	{{ hostname }}.{{ domain }}.
smtp	IN	CNAME	{{ hostname }}.{{ domain }}.
; wkd is used for the web key directory service
; which allows us to use openpgp encryption on the email
; without doing anything on the client side
; gives an extra layer of encryption
wkd	IN	CNAME	{{ hostname }}.{{ domain }}.
openpgpkey	IN	CNAME	{{ hostname }}.{{ domain }}.
; strict transport security
; somewhat like DANE but doesn't need DNSSEC
mta-sts	IN	CNAME	{{ hostname }}.{{ domain }}.

;; SRV record format: https://en.wikipedia.org/wiki/SRV_record#Record_format
;; service._proto	IN	SRV	priority	weight	port	address
;;					(lower is used first)
;;							(used for load balancing on client side, 
;;							which makes it basically worthless)
; we also detail all the services used and the ports that they map to
_openpgpkey._tcp	IN	SRV	0	0	443	openpgpkey.{{ domain }}.
; we need autodiscover service >.> why so much???
; damn you microsoft
_autodiscover._tcp	IN	SRV	0	0	443	autodiscover.{{ domain }}.
; submission's' is the SSL/TLS port while without the 's' is the STARTTLS
_submissions._tcp	IN	SRV	0	1	465	smtp.{{ domain }}. ; SSL/TLS
_submission._tcp	IN	SRV	5	1	587	smtp.{{ domain }}. ; STARTTLS (but enforced)
_imaps._tcp	IN	SRV	0	1	993	imap.{{ domain }}.
_pop3s._tcp	IN	SRV	0	1	995	pop3.{{ domain }}.
; we disable insecure POP3 and insecure IMAP from being automatically detected
; mayhaps you can override them on a client but just don't use them
_imap._tcp	IN	SRV	0	0	0	.
_pop3._tcp	IN	SRV	0	0	0	.

; we also need to setup the acceptable mail server in the SPF record
@	IN	TXT	"v=spf1 mx ~all"
_dmarc	IN	TXT	"v=DMARC1;p=reject;pct=100;rua=mailto:dmarcreports@{{ domain }};"
; these two are needed to finalize MTA-STS (along with publishing the policy in a mta-sts.txt file in httpd
_smtp._tls	IN	TXT	"v=TLSRPTv1;rua=mailto:tlsreports@{{ domain }};"
_mta-sts	IN	TXT	"v=STSv1;id=EXCISIONSERIAL;"

; SSHFP records are added here to make sure that
; DNS validation can be done before connection 
; TODO: more useful with DNSSEC
