$TTL	10800		; 3h ; used for all entries without ttl values, hence it can be overloaded by individual entries
$ORIGIN	{{ domain }}.

@	1d	SOA	ns1.{{ domain }}.	root.{{ domain }}. (
	{{ nsdserial.stdout }}		; serial
	3h			; refresh
	3m			; retry
	1w			; expire
	1d			; minimum
)


; CAA
@	IN	CAA	0	issue		"letsencrypt.org"
@	IN	CAA	0	issuewild	"letsencrypt.org"

{% for ps in public_nameservers %}
@	IN	NS	ns{{ loop.index }}.{{ domain }}.
{% if ps.ipv4 is defined %}
ns{{ loop.index }}	IN	A	{{ ps.ipv4 }}
{% endif %}
{% if ps.ipv6 is defined %}
ns{{ loop.index }}	IN	AAAA	{{ ps.ipv6 }}
{% endif %}
{% endfor %}

@	IN	A	{{ ipv4 }}
@	IN	AAAA	{{ ipv6 }}

www	IN	A	{{ ipv4 }}
www	IN	AAAA	{{ ipv6 }}

{{ hostname }}	IN	A	{{ ipv4 }}
{{ hostname }}	IN	AAAA	{{ ipv6 }}

autoconfig	IN	CNAME	{{ hostname }}.{{ domain }}.
imap	IN	CNAME	{{ hostname }}.{{ domain }}.
smtp	IN	CNAME	{{ hostname }}.{{ domain }}.
wkd	IN	CNAME	{{ hostname }}.{{ domain }}.

_openpgpkey._tcp	IN	SRV	0	0	443	wkd.{{ domain }}.
_submission._tcp	IN	SRV	0	1	587	{{ hostname }}.{{ domain }}.
_imaps._tcp	IN	SRV	0	1	993	{{ hostname }}.{{ domain }}
_imap._tcp	IN	SRV	0	0	0	.
_pop3s._tcp	IN	SRV	0	0	0	.
_pop3._tcp	IN	SRV	0	0	0	.

@	IN	MX	0	{{ hostname }}.{{ domain }}.
@	IN	TXT	"v=spf1 mx -all"
_dmarc	IN	TXT	"v=DMARC1;p=reject;pct=100;rua=mailto:postmaster@{{ domain }};"
ansimail._domainkey	IN	TXT	"ansimail-placeholder"

