# Modified for AnsiMail (OpenBSD 6.7)

server:
  ip-address: {{ ipv4 }}
  ip-address: {{ ipv6 }}
  ip-transparent: yes
  server-count: 1
  hide-version: yes
  verbosity: 1
  database: /var/nsd/db/nsd.db

remote-control:
  control-enable: yes
  control-interface: /var/run/nsd.sock

zone:
  name: {{ domain }}
  zonefile: "master/{{ domain }}.zone"
{% if (secondary_nameservers is defined) and (secondary_nameservers|length > 0) %}
{% for ns in secondary_nameservers %}
{% if ns.ipv4 is defined %}
  notify: {{ ns.ipv4 }} NOKEY
  provide-xfr: {{ ns.ipv4 }} NOKEY
{% endif %}
{% if ns.ipv6 is defined %}
  notify: {{ ns.ipv6 }} NOKEY
  provide-xfr: {{ ns.ipv6 }} NOKEY
{% endif %}
{% endfor %}
{% endif %}
{% if (additional_domains is defined) and (additional_domains|length > 0) %}
{% for adomain in additional_domains %}
{% if (adomain.nsd is defined) and (adomain.nsd == true) %}

zone:
  name: {{ adomain.name }}
  zonefile: "master/{{ adomain.name }}.zone"
{% if (secondary_nameservers is defined) and (secondary_nameservers|length > 0) %}
{% for ns in secondary_nameservers %}
{% if ns.ipv4 is defined %}
  notify: {{ ns.ipv4 }} NOKEY
  provide-xfr: {{ ns.ipv4 }} NOKEY
{% endif %}
{% if ns.ipv6 is defined %}
  notify: {{ ns.ipv6 }} NOKEY
  provide-xfr: {{ ns.ipv6 }} NOKEY
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
