allow_username_mismatch = true;

domain {
    {{ domain }} {
        path = "/etc/ansimail/dkim/private/ansimail.{{ domain }}.key";
        selector = "ansimail";
    }
{% if additional_domains is defined %}
{% for adomain in additional_domains %}
    {{ adomain }} {
        path = "/etc/ansimail/dkim/private/ansimail.{{ domain }}.key";
        selector = "ansimail";
    }
{% endfor %}
{% endif %}
}

