allow_username_mismatch = true;

domain {
{% for domain in domains %}
    {{ domain.name }} {
        path = "/etc/excision/dkim/private/excisionRSA.{{ domain.name }}.key";
        selector = "excisionRSA";
    }
{% endfor %}
}

