allow_username_mismatch = true;

domain {
    {{ domain }} {
        path = "/etc/excision/dkim/private/excision.{{ domain }}.key";
        selector = "excision";
    }
{% if additional_domains is defined %}
{% for adomain in additional_domains %}
    {{ adomain.name }} {
        path = "/etc/excision/dkim/private/excision.{{ domain }}.key";
        selector = "excision";
    }
{% endfor %}
{% endif %}
}

